<div id="message-<%= message.id %>">
      <small class="chat-name-date">
        <strong><%= message.sender.first_name %></strong>
        <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
      <p class="chat-content"><%= message.content %></p>
</div>
