<% profiles.each do |profile| %>
  <%= cl_image_tag profile.photo.key, height: 200, width: 200, crop: :fill if profile.photo.attached? %>
  <p><%= profile.first_name %> <%= profile.age %></p>
  <p><%= profile.bio %></p>
  <!--
  2 buttons (trigger scroll down in JS):
    - Swipe left ❌: trigger rejection in DB
    - Swipe right ✅: trigger accept in DB
  -->
<% end %>
