<div class="profiles-all" data-controller="swipe">
  <div class="floating-icon">
    <i class="fa fa-remove gone" data-swipe-target="nope"></i>
    <i class="fa fa-heart gone" data-swipe-target="like"></i>
  </div>
  <div class="profile-cards">
  <% @profiles.each do |profile| %>
    <div class="single-card"
        data-swipe-target="swipeCard" data-swipe-profile-value=<%= profile.id %>>
        <%= render "profile", profile: profile %>
        <%= render "offer", profile: profile %>
    </div>
  <% end %>
  </div>
</div>
