

<%# FILTERS AND SEARCH LOGIC %>
<div class="filter-container">
  <%= simple_form_for :search, url: profiles_path, method: "GET", html: {class: "form index-form" } do |f| %>
    <div class="filter-div" data-controller="checkbox">
      <div class="panel">
        <%= f.input :skill,
          as: :radio_buttons,
          collection_wrapper_tag: 'div',
          collection_wrapper_class: 'category-wrapper-1',
          item_wrapper_class: 'tag-item',
          input_html: {class: 'tag-selector'},
          collection: [
                          [('Photography').html_safe, "Photography"],
                          [('Art').html_safe, "Painting & Drawing"],
                          [('Coding').html_safe, "Coding"],
                          [('Ceramics').html_safe, "Ceramics"],
                          [('Textiles').html_safe, "Textiles"],
                          [('Carpentry').html_safe, "Carpentry"]
                        ] %>
      </div>
    </div>

    <div class="geolocation">
      <%= f.input :distance,
        as: :range,
        label: 'Distance',
        input_html: { min: 5, max: 25, step: 5, class: 'form-range' }
      %>
    </div>

    <%= f.submit class: 'btn-flat' %>
  <% end %>
</div>
