

<%# FILTERS AND SEARCH LOGIC %>
<div class="filter-container">
<br>
  <%= simple_form_for :search, url: profiles_path, method: "GET", html: {class: "form index-form" } do |f| %>
    <div class="filter-div" data-controller="checkbox">
      <div class="panel">
        <%= f.input :skill,
          as: :check_boxes,

          collection_wrapper_tag: 'div',
          collection_wrapper_class: 'category-wrapper-1',
          item_wrapper_class: 'tag-item',
          input_html: {class: 'tag-selector'},
          collection: [
                          [('Drawing').html_safe, "Drawing"],
                          [('Painting').html_safe, "Painting"],
                          [('Calligraphy').html_safe, "Calligraphy"],
                          [('Carpentry').html_safe, "Carpentry"],
                          [('Ceramics').html_safe, "Ceramics"],
                          [('Coding').html_safe, "Coding"],
                          [('Embroidery').html_safe, "Embroidery"],
                          [('Fishing').html_safe, "Fishing"],
                          [('Knitting').html_safe, "Knitting"],
                          [('Macramé').html_safe, "Macramé"],
                          [('Music').html_safe, "Music"],
                          [('Origami').html_safe, "Origami"],
                          [('3D Printing').html_safe, "3D Printing"],
                          [('Photography').html_safe, "Photography"],
                          [('Sewing').html_safe, "Sewing"],
                          [('Skateboarding').html_safe, "Skateboarding"],
                          [('Soap Making').html_safe, "Soap Making"],
                          [('Tattooing').html_safe, "Tattooing"],
                          [('Crocheting').html_safe, "Crocheting"],
                          [('Candle Making').html_safe, "Candle Making"]
                                                                              ]%>

      </div>
    </div>
    <br>
    <div class="geolocation" data-controller="distance">
    <div class="d-flex inline-block">
    <h2 style="margin-right: 10px; margin-left: 10px;">Distance:</h2>
    <h2 data-distance-target="kilometer">0km</h2>
    </div>
      <%= f.input :distance,
        as: :range,
        label: false,
        input_html: { min: 1, max: 25, step: 1, value: 1, class: 'form-range',
        data: { distance_target: 'rangeSlider', action: 'input->distance#updateValue' } }
      %>

      </div>
    <br>
    <%= f.submit class: 'btn-flat', value: "Filter Search" %>
  <% end %>
</div>
</div>
