// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0e00007f;
$light-gray: #F4F4F4;

$header-footer2: #578d66;
$header-footer: #32513c;

//icons in navbar/footer, lighter text
$icon:#fbf7eb;
//form inputs

$inputfield: #FFFFFF;
$inputfield2: #f8f0eb;
$checked-icon: #32573C;
$checked-icon2: #E55807;
$checked-icon2: #c64a02;
$unchecked-icon: #B2BCB4;
$buttons: #32573C;
$background: #fcfbfb;
$text: #20572f;
$cardbackground: #fdf6e8;
$receiver: #e7f4ea;
$sender: #EF9A53;
$border-tags: #532002;
$testbg2: #4a7c5a;
$testbg1: #426b4f;
$testbg: #375941ca;
$shadow:#121f15;
$chatcontent: #1f3625;

:root {
  --white: rgba(253, 253, 252, 1);
  --beige: rgba(245, 243, 242, 1);
  --grey: rgba(147, 147, 149, 1);
  --purple: rgba(125, 104, 255, 1);
  --green: rgba(67, 186, 127, 1);
  --orange: rgba(253, 90, 47, 1);
  --blue: rgba(89, 142, 251, 1);
  --blackblue: rgba(20, 22, 39, 1);
  --skywhite: rgba(255, 255, 255, 1);
}
