// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

:root {
  --large-none-regular-font-family: "Inter-Regular", Helvetica;
  --large-none-regular-font-weight: 400;
  --large-none-regular-font-size: 18px;
  --large-none-regular-letter-spacing: 0px;
  --large-none-regular-line-height: 18px;
  --large-none-regular-font-style: normal;
  --large-normal-bold-font-family: "Inter-Bold", Helvetica;
  --large-normal-bold-font-weight: 700;
  --large-normal-bold-font-size: 18px;
  --large-normal-bold-letter-spacing: 0px;
  --large-normal-bold-line-height: 24px;
  --large-normal-bold-font-style: normal;
  --variable-collection-blackgrey: rgba(9, 10, 10, 1);
  --variable-collection-picture-fade-for-text: rgba(255, 255, 255, 0);
  --variable-collection-superlight-purple: rgba(251, 247, 255, 1);
  --variable-collection-icon-color: rgba(107, 78, 255, 1);
}
