.home {
  display: flex;
  flex-direction: column;
  height: 844px;
  align-items: center;
  position: relative;
  background-color: #ffffff;
}

.home .native-status-bar {
  position: relative;
  width: 375px;
  height: 44px;
}

.home .bars-nav-bars {
  position: relative;
  width: 375px;
  height: 48px;
  background-color: var(--skywhite);
}

.home .text-wrapper {
  position: absolute;
  height: 18px;
  top: 14px;
  left: 147px;
  font-family: var(--large-none-regular-font-family);
  font-weight: var(--large-none-regular-font-weight);
  color: var(--variable-collection-blackgrey);
  font-size: var(--large-none-regular-font-size);
  text-align: center;
  letter-spacing: var(--large-none-regular-letter-spacing);
  line-height: var(--large-none-regular-line-height);
  white-space: nowrap;
  font-style: var(--large-none-regular-font-style);
}

.home .left-actionable {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 18px;
}

.home .right-actionable {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 327px;
}

.home .screen-content {
  position: relative;
  width: 360px;
  height: 674px;
  overflow: hidden;
  overflow-y: scroll;
}

.home .total-profile {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.home .profile-card {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 674px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  background-color: #0d0000;
}

.home .p-card {
  position: relative;
  width: 360px;
  height: 468px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 8.85%,
    rgba(255, 255, 255, 0) 47.4%,
    rgba(0, 0, 0, 0.4) 88.02%
  );
  background-size: cover;
  background-position: 50% 50%;
}

.home .frame {
  flex-direction: column;
  width: 360px;
  align-items: flex-start;
  gap: 11px;
  padding: 0px 16px;
  display: flex;
  position: relative;
  flex: 0 0 auto;
}

.home .div {
  display: flex;
  flex-wrap: wrap;
  width: 225px;
  align-items: center;
  justify-content: space-between;
  gap: 0px 6px;
  position: relative;
  flex: 0 0 auto;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.home .avatar {
  display: flex;
  width: 205px;
  align-items: center;
  gap: 13px;
  position: relative;
}

.home .avatar-2 {
  position: relative;
  width: 36px;
  height: 36px;
  background-image: url(./img/ellipse-7.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home .skill-title {
  position: relative;
  width: fit-content;
  font-family: var(--large-normal-bold-font-family);
  font-weight: var(--large-normal-bold-font-weight);
  color: #f5f3f2;
  font-size: var(--large-normal-bold-font-size);
  letter-spacing: var(--large-normal-bold-letter-spacing);
  line-height: var(--large-normal-bold-line-height);
  white-space: nowrap;
  font-style: var(--large-normal-bold-font-style);
}

.home .location-buttons {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  padding: 6px 7px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -205px;
  background-color: var(--variable-collection-icon-color);
  border-radius: 48px;
}

.home .vector {
  position: relative;
  width: 7px;
  height: 7px;
}

.home .text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--skywhite);
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 10.5px;
  white-space: nowrap;
}

.home .skill-description {
  display: flex;
  flex-direction: column;
  height: 108px;
  align-items: flex-start;
  gap: 8px;
  width: 279px;
  position: relative;
}

.home .skill-title-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--large-normal-bold-font-family);
  font-weight: var(--large-normal-bold-font-weight);
  color: #f5f3f2;
  font-size: var(--large-normal-bold-font-size);
  letter-spacing: var(--large-normal-bold-letter-spacing);
  line-height: var(--large-normal-bold-line-height);
  white-space: nowrap;
  font-style: var(--large-normal-bold-font-style);
}

.home .p {
  height: 72px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  width: 279px;
  position: relative;
}

.home .skill-card-2 {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 674px;
  align-items: flex-start;
  gap: 489px;
  padding: 8px 16px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 8.85%,
    rgba(255, 255, 255, 0) 47.4%,
    rgba(0, 0, 0, 0.4) 88.02%
  );
  background-image: url(./img/skill-card-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home .frame-2 {
  flex-wrap: wrap;
  width: 225px;
  align-items: center;
  justify-content: space-between;
  gap: 0px 6px;
  display: flex;
  position: relative;
  flex: 0 0 auto;
}

.home .avatar-3 {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  position: relative;
  flex: 0 0 auto;
}

.home .avatar-4 {
  position: relative;
  width: 36px;
  height: 36px;
  background-image: url(./img/ellipse-7-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home .skill-description-2 {
  display: flex;
  flex-direction: column;
  width: 279px;
  height: 108px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  margin-bottom: -4px;
}

.home .skill-description-3 {
  height: 76px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  width: 279px;
  position: relative;
}

.home .skill-card-3 {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 674px;
  align-items: flex-start;
  gap: 489px;
  padding: 8px 16px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 8.85%,
    rgba(255, 255, 255, 0) 47.4%,
    rgba(0, 0, 0, 0.4) 88.02%
  );
  background-image: url(./img/skill-card-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home .avatar-5 {
  position: relative;
  width: 36px;
  height: 36px;
  background-image: url(./img/image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home .bars-tab-bar-icon {
  position: relative;
  width: 390px;
  height: 72px;
}

.home .native-home {
  position: relative;
  width: 375px;
  height: 20px;
}
