   <%# header %>
    <div class="header">
      <%= link_to search_path do %>
        <div class="option"><i class="fa-solid fa-sliders fa-lg"></i></div>
      <% end %>

      <%= link_to matches_path do %>
        <div class="option"><i class="fa-solid fa-comments fa-lg"></i></div>
      <% end %>
    </div>
