<div class="matches-container">
  <br>
  <% @accepted_matches.each do |match| %>
  <% correspondent = match.initiator.user == current_user ? match.creator : match.initiator %>
    <div class="match-item">
      <!-- ... Rest of your existing HTML content -->
  <%= link_to match_path(match) do %>

      <div class="match-background"></div>
      <div class="profile-image">
        <%= cl_image_tag(correspondent.photo.key, class: "profile-pic") %>
      </div>
      <div class="profile-details">
        <div class="profile-name">

          <strong><%= correspondent.first_name %></strong>
        </div>
        <% latest_message = match.messages.order(created_at: :desc).first %>
        <% if latest_message.present? %>
          <div class="latest-message">
            <%= latest_message.content %>
          </div>
        <% else %>
          <div class="no-message">
            No messages yet.
          </div>
        <% end %>

        </div>
      </div>
    </div>
    <hr>
  <% end %>
  <% end %>
</div>
