.filter-container {
  margin: 60px 15px;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: $icon;
  color: $text;
  border: 1px solid $text;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  opacity: 80%;
}

.tag-selector:checked + label {
  background-color: $checked-icon2;
  color: white;
  border: 1px solid $border-tags;
}

.geolocation, .panel {
  color: $text;
  font-size: 25px;
  font-weight: bold;
}
.panel {
  margin-left: 10px;
}

.geolocation, h2 {
  color:$text;
  font-size: 25px;
  font-weight: bold
}


body{
  background-color: $background;
}
