.footer {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 52px;
  width: 100vw;
  position:fixed;
  bottom: 0%;
  left:0%;
  padding-bottom: 18px;
  background-color: $header-footer;
  z-index: 100;
  opacity: 90%;
}


.footer .option {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  color: $icon;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
