.offer-form {
  color: $text;
  font-size: 22px;
  font-weight: bold;

  h1 {
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
}

.col-form-label {
 text-align: center;
 margin-bottom: 10px;
 font-size: 26px;
}

.form-text {
  font-size: 15px;
}

.form-control {
  background-color: $inputfield2;
}

.form-control:active {
  border: #20572f;
  box-shadow: none;
}

.form_container {
  padding-top: 70px;
}
.form-control[type="file"]:not(:disabled):not([readonly]) {
  color: #20572f;
}
