.offer-form {
  color: $text;
  font-size: 22px;
  font-weight: bold;

  h1 {
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 0.5mm;
  margin-top: 10px;
}
}

.form-text {
  font-size: 15px;
}

.form-control {
  background-color: $inputfield;
}
