.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 28px;
  width: 100%;
  position: sticky;
  top: 0;
  padding-bottom: 18px;
  background-color: $header-footer;
  z-index: 9999;
  opacity: 100%;
}

.header_chat {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 28px;
  width: 100%;
  position: sticky;
  top: 0;
  padding-bottom: 18px;
  background-color: $header-footer;
  z-index: 9999;
  opacity: 100%;
}


.header .option {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: $icon;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 100%;
}

.header_chat .option {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: $icon;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 100%;
}
