
.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
  overflow-wrap:break-word;
  color: $chatcontent;
}

.sender-style {
  background-color:$sender;
}

.receiver-style {
  background-color:$receiver;
}

.receiver-style {
  background-color: $unchecked-icon;
}

.messages {
  overflow: scroll;
  height: 78%;
  background-color: #fcfbfb;
  margin-top: 60px;
}

#message {
  background-color: $background;
}

.chat-name-date {
  color: $shadow;
}

.chat-content {
  font-size: 16px;
}

.navbar-name{
  // padding-left:45px;
  padding-bottom: 8px;
}
