.hide {
  opacity: 0;
}

.profiles-all {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  touch-action: pan-y !important;
}

.floating-icon {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: 10;

}

.floating-icon i {
  font-size: 100px;
  transform: scale(0.8);
  transition: all 0.4s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
  color: #FE5D5D;
  opacity: 0.8;
}

.floating-icon .gone {
  opacity: 0;
}



// .float_love .fa-heart {
//   opacity: 0.7;
//   transform: scale(1);
// }

// .float_no .fa-remove {
//   opacity: 0.7;
//   transform: scale(1);
// }

.profile-cards {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  touch-action: pan-y !important;
}

.single-card{
  display: inline-block;
  width: 100vw;
  max-width: 400px;
  height: 85vh;
  background: #FFFFFF;
  border-radius: 8px;
  overflow: auto;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  margin: 7.5vh;
    // margin-top: 14.5vh;
}

.moving.single {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.loaded.profiles-all {
  opacity: 1;
}
